* {
background-color: black;
  color: white;
  font-size: 24px;
  font-family: monospace;
}

.button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid white;
  padding:15px;
  width:60px;
  height:60px;
  gap: 4px;
}

.button:hover {
background-color: darkgray;
}


.button:active {
background-color: darkorange;
}

#display {
border: 2px solid white;
  height: 50px;
  font-size: 35px; 
  text-align: end;
  padding: 4px;
}


#calculator {
display: flex;
  flex-direction: column;
  width: 240px;
}

.row {
display: flex;
  gap: 2px;
}

.last-row {
display: flex;
    justify-content: flex-end;
}

#clear {
  font-size: 12px;
}

.greyed-out {
background-color: lightcoral;
}
