* {
  font-size: 24px;
  font-family: monospace;
}

body {
background-color: #F9CCCC;
  color: rgb(30, 30, 30);
display: flex;
  justify-content: center;
  margin: 2px;
}

#heading {
  font-style: italic;
  font-size: 30px;
  text-align: center;
  margin: 3px;
}

.button {
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  padding:15px;
  width:60px;
  height:60px;
  gap: 4px;
}

.button:hover {
background-color: #71715F;
}


.button:active,
#equals:active {
background-color: darkorange;
}

.op,
#pm,
#sqrt {
  background-color: #7FF0F0;
}

#display {
  background-color: #F9CCCC;
  height: 50px;
  font-size: 35px; 
  text-align: end;
  padding: 4px;
  border-radius: 4px;
}


#calculator {
  background-color: lightcoral;
display: flex;
  flex-direction: column;
  width: 240px;
  gap: 3px;
  padding: 5px;
  border-radius: 5px;
}

#equals {
background-color: #F0C37F;
}

.row {
display: flex;
  gap: 2px;
}

.last-row {
display: flex;
    justify-content: flex-end;
}

#clear {
  font-size: 12px;
}

.greyed-out,
.greyed-out:hover,
.greyed-out:active {
background-color: #96967E;
}

